.App {
  text-align: center;
  /*display: grid;
  grid-template-columns: 1fr 1fr 1fr;*/
  padding: 2em;

}

table {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-spacing: 0;

}

table th{
  width: 33%;
  padding: 16px;
  text-align: left;
}

table thead{
  background: #222;
  color: #fff;
}

table td {
  padding: 8px 16px;
}

table tr:nth-child(even) {
  background-color: #f1f1f1;
}

table tr td:first-child {
  color: red;
}

table tr td:nth-child(2) {
  color: orange;
}

table tr td:nth-child(3) {
  color: green;
}

table  td {
  width: 33%;
  text-align: left;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
